*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #929292;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container{
  width: 60%;
  margin: auto;
}

header{
  background-color: white;
  height: 60px;
  margin: 5px 10px 50px;
}

.logo{
  width: 120px;
  margin-bottom: 15px;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  color: #858585;
  font-size: 10px;
}

/* main */
.hero{
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}

.text-hero{
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 70px;
  left: 40px;
  width: 50%;
  z-index: 10;
}

.text-hero h2{
  font-size: 20px;
  font-weight: lighter;
}

.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.clearfix{
  margin: 10px;
}

.fake-header{
  height: 50px;
  margin: 10px 0px;
}

h3{
  color: black;
  font-size: 20px;
}

h4{
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 5px;
}

p{
  font-size: 9px;
}

.col{
  margin-bottom: 30px;
  position: relative;
}

.col-left, .col-right{
  float: left;
  width: 20%;
  height: 300px;
}

.col-center{
  float: left;
  width: calc(60% - 20px);
  height: 300px;
  margin: 0 10px;
}

.shadow-img{
  position: relative;
  margin-bottom: 5px;
}

.image{
  position: relative;
  object-fit: cover;
  height: 140px;
  width: 100%;
  border-radius: 10px;
}

#central-image{
  position: relative;
  object-fit: cover;
  height: 140px;
  width: 100%;
  border-radius: 10px;
}
/* /main */


footer{
  height: 30px;
  margin: 10px;
  color: black;
  font-size: 10px;
  text-align: center;
}

span{
  color: red;
}
